@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  background-color: #000;
  caret-color: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  font-family: "Delicious Handrawn", cursive;
  letter-spacing: 5px;
  font-size: 120px;
  margin-bottom: 20px;
}

#heading-title {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.arrow {
  margin-top: 400px;
  transform: translateY(500%);
}

.arrow > h2 {
  font-family: "Finger Paint", cursive;
  font-size: 40px;
  letter-spacing: 4px;
}

.title-container {
  text-align: right;
  transform: translateY(-50%);
}

.title-container p {
  font-size: 30px;
  margin-right: 20px;
}

.title-container #title-name {
  font-family: "Delicious Handrawn", cursive;
}

#image-track-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0, -50%);
}
#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  position: relative;
  transform: translateY(150%);
  opacity: 0;
  transition: 1s all ease;
}

#image-track > .image.active {
  transform: translateY(0);
  opacity: 1;
}

#footer {
  width: 100%;
  min-height: 100vh;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  transform: translateY(150%);
  opacity: 0;
  transition: 2s all ease;
}
#footer > h4 {
  font-size: 50px;
  line-height: 100px;
  font-family: "Delicious Handrawn", cursive;
  letter-spacing: 5px;
  margin-bottom: 40px;
}

#footer > .social-links {
  list-style: none;
}

#footer > .social-links > li {
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 3px;
}

#footer > .social-links > li > a {
  color: #fff;
  font-weight: 500;
}

#footer > .end-title {
  margin-top: 160px;
}

#footer > .end-title > h5 {
  font-size: 30px;
  letter-spacing: 2px;
  font-family: "Finger Paint", cursive;
  margin-bottom: 10px;
}

#footer > .end-title > p {
  font-size: 20px;
}

#footer.active {
  transform: translateY(0);
  opacity: 1;
}
